.footer {
  display: flex;
  justify-content: space-between;
  padding: 46px 240px;
  background-color: #3b434c;

  &__item {
    font-weight: 400;
    @include rem(font-size, 16);
    color: white;
  }

  &__logo {
    vertical-align: middle;
  }
}

@media (max-width: 1223px) {
  .footer {
    padding: 30px 100px;
  }
}
@media (max-width: 992px) {
  .footer {
    padding: 30px 50px;

    &__item {
      @include rem(font-size, 14);
    }
  }
}
