@import "_variables";
@import "_header";
@import "_services";
@import "_newsletter";
@import "_ourteam";
@import "_contacts";
@import "_footer";

html {
  font-family: "Open Sans", sans-serif;
  @include rem(font-size, 14);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #3b434c;
}

i {
  transition: 0.2s;
  display: inline-flex;
  &:hover {
    transform: scale(1.3);
  }
}

span {
  color: #f7600e;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: 320px) {
    .container {
      display: flex;
      flex-basis: 320px;
      flex-grow: 1;
    }
  }
}
